.container {
  background-color:#909090;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  box-sizing: border-box; 
  padding: 30px;
  border-radius: 20px;
  box-shadow: -2px 6px 68px -8px rgba(0,0,0,0.75);
}